@use '../../../styles/mixins';
@use '../../../styles/units';

.header {
    margin-bottom: map-get(units.$spacing, section);
    grid-gap: map-get(units.$spacing, container);
    grid-template-columns: 1fr max-content max-content;
    max-width: 50rem;
    display: grid;

    @include mixins.media(phone) {
        grid-template-columns: 1fr;
    }
}

.button {
    margin-top: auto;
}

.input {
    width: 100%;
}

.loading {
    padding-top: map-get(units.$spacing, section);
}

.message {
    opacity: 0.6;
}

.banner {
    background-color: var(--color-primary-alt);
    padding: map-get(units.$spacing, container);
    margin: (map-get(units.$spacing, section) * -1) 0 map-get(units.$spacing, section);
    border-radius: units.$radius;
}