$_colors: (
  background:#ffffff,
  background-alt: #f3f4f6,
  text: #525252,
  text-alt: #a3a3a3,
);

// For colors that don't change between themes
$colors: map-merge($_colors, (
  primary: #28C2FF,
  primary-alt: #28C2FF33,
  success: #00C851,
  error: #ff4444,
));

// Useful for creating buttons / interactions with the color
@mixin _interactiveColors($tag, $color) {
  --color-#{$tag}--hover: #{darken($color, 4%)};
  --color-#{$tag}--active: #{darken($color, 8%)};
}

// For generating colors as css variables
@mixin init {
  :root {
    @each $tag, $color in $colors {
      --color-#{$tag}: #{$color};
    }
  }

  // Important for people who have this theme atm
  .theme--dark {
    :root {
      @each $tag, $color in $_colors {
        --color-#{$tag}: #{invert($color)};
      }
    }
  }
}

// For loading later
@mixin deferred {
  :root {
    @each $tag, $color in $colors {
      @include _interactiveColors($tag, $color);
    }
  }

  .theme--dark {
    :root {
      @each $tag, $color in $_colors {
        @include _interactiveColors($tag, invert($color));
      }
    }
  }
}