@use '../../styles/mixins';
@use '../../styles/units';

.container {
  justify-content: center;
  display: flex;
  padding: map-get(units.$spacing, container);
}

.content {
  grid-template-columns: units.$nav-width 2fr;
  max-width: units.$page-width; // For super long screens, so the content isnt stretched
  grid-gap: map-get(units.$spacing, container);
  display: grid;
  width: 100%;

  @include mixins.media(tablet) {
    grid-template-columns: 1fr;
  }
}